@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body{
    background-color: lightblue;
}

nav{
    background-color: green;
    display: flex;
    
}

menu {
    background-color: rgb(127, 170, 255);
    display: none;
}

#burguer {
    color: white;
    text-align: center;
    padding: 10px;
}

menu > div{
    background-color: aquamarine;

}

span#burguer:hover {
    background-color: rgba(0, 0, 0, 0.259);
    cursor: pointer;
    border-radius: 50%;
}


menu img{
    height: 20px;
}

a.normal {
    text-decoration: none;
    padding: 10px;
}

a.normal:hover {
    text-decoration: underline;
}

#conta {
    width: 50px;
}

#conta:hover {

}